.graph-editor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .graph-sidebar {
    background-color: white;
    -webkit-box-shadow: 0px 0px 29px -6px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 0px 29px -6px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 0px 29px -6px rgba(0, 0, 0, 0.19);
    width: 3.5rem;
    height: 18rem;
    margin-right: 2rem;
  }

  .graph-box-wrapper {
    .graph-toolbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 40rem;
      margin: auto;
      position: relative;
      top: 2rem;
      background-color: white;
      -webkit-box-shadow: 0px 0px 29px -6px rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0px 0px 29px -6px rgba(0, 0, 0, 0.19);
      box-shadow: 0px 0px 29px -6px rgba(0, 0, 0, 0.19);
      padding: 0.3rem;
    }

    .graph-svg {
      width: 80rem;
      margin: auto;
      display: block;
      -webkit-box-shadow: 0px 0px 29px -6px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0px 0px 29px -6px rgba(0, 0, 0, 0.35);
      box-shadow: 0px 0px 29px -6px rgba(0, 0, 0, 0.35);
      z-index: -1;

      .node {
        stroke: rgb(0, 0, 0);
        stroke-width: 8px;
        fill: rgba(255, 255, 255, 0.712);
      }

      .node-bg {
        fill: white;
      }

      .node-text {
        font: bold 30px sans-serif;
        cursor: default;
      }

      .edge {
        stroke: rgb(0, 0, 0);
        stroke-width: 8px;
      }
    }
  }
}

#graph-input-box {
  width: 200px;
  height: 1.3rem;
  position: fixed;
  font-size: 12px;
  text-align: center;
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  bottom: 50px;
  z-index: 30;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 0px 21px -6px rgba(0, 0, 0, 0.69);

  .input-text {
    border: none;
    outline: 0px;
    border-radius: 5px;
    display: block;
    width: 10rem;
  }
}
