.graph-editor {
  .graph-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .graph-box {
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    width: 100%;

    .node {
      stroke: rgb(0, 0, 0);
      stroke-width: 8px;
      fill: rgb(255, 255, 255);
    }

    .node-text {
      font: bold 30px sans-serif;
    }

    .edge {
      stroke: rgb(0, 0, 0);
      stroke-width: 8px;
    }
  }
}
